/* 
 * Swipely Works for Restaurants Stylesheet
 * Created by: Boston Startup School
 */
@import "/stylesheets/elements.less";

#swipely-header {
	position:relative;
	width:100%;
	.bordered(#003E72, #007CC5, #003E72, #007CC5);
	.gradient(#007CC5, #007CC5, #0090CE);
	line-height:18px;
	height:48px;
}
#swipely-nav {
	position:absolute;
	width:960px;
	height:40px;
	left:0px;
	right:0px;
	margin:0 auto;
	margin-top:8px;
}
#logo {
	margin-left:20px;
}
/* TODO: add queries for nav getting smaller
 */
.box-1, .box-1-left, .box-1-right {
	height:490px;
}
.box-2, .box-2-left, .box-2-right {
	height:440px;	
}
.box-3, .testimonial {
	height:200px;
}

footer {
	height:172px;
	background-image:url('http://www.swipelyworks.com/img/footer-bg.png');
}
.box-1-left {
	background-color:green;
}
.box-1-right {
	background-color:grey;
}
.box-2-left {
	background-color:lightgrey;
}
.box-2-right {
	background-color:lightblue;
}