/* 
 * Swipely Works for Restaurants Stylesheet
 * Created by: Boston Startup School
 */
@import "/stylesheets/elements.less";

html, body {
	width:100%;
}

@darkblue: #003E72;
@swipelyblue:#007CC5;
@lightblue:#0090CE;

#swipely-header {
	position:relative;
	.bordered(@darkblue, @swipelyblue, @darkblue, @swipelyblue);
	border-left-width:0px;
	border-right-width:0px;
	.gradient(@swipelyblue, @swipelyblue, @lightblue);
	line-height:18px;
	height:48px;
	margin: 0px;
	padding:0px;
}
#swipely-nav {
	position:absolute;
	width:960px;
	height:40px;
	left:0px;
	right:0px;
	margin:0 auto;
	margin-top:8px;
}
#logo {
	margin-left:20px;
}
/* TODO: add queries for nav getting smaller
 */
.box-1, .box-1-left, .box-1-right {
	height:490px;
}
.box-2, .box-2-left, .box-2-right {
	height:440px;	
}
.box-3, .testimonial {
	height:200px;
}

footer {
	height:172px;
	background-image:url('http://www.swipelyworks.com/img/footer-bg.png');
}
.box-1-left {
/*, , , #007CC5);*/
	background-color:#0090CE;
}
.box-1-right {
	background-color:grey;
}
.box-2-left {
	background-color:lightgrey;
}
.box-2-right {
	background-color:lightblue;
}